@charset "utf-8";
@import 'https://fonts.googleapis.com/css?family=Orbitron';

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,heade,nav,aside,section,article,footer,a
{ margin:0;  padding:0; box-sizing:border-box;}
table {border-collapse:collapse; border-spacing:0;}
input,select { vertical-align:top; padding:0;}
fieldset,img {border:0; vertical-align:top;}
address,caption,cite,code,dfn,var {font-style:normal; font-weight:normal; }
ol,ul {list-style: none; }
caption,th { text-align:left;}
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight:normal;}
q:before,q:after {content:"";}
a{outline:1;   text-decoration:none; color:#666;}
em { font-style:normal; }
body { font: 12px /1.4 orbitron, sans-serif; color:#666; overflow-x:hidden;}
.h { position:absolute; top:-99999px;}

#box1 { width:100px; height:100px; border:1px solid #000; margin:50px;}
#box2 { width:100px; height:100px; border:1px solid #000; margin:50px;}







