@charset "utf-8";

/* reset */
* {margin:0; padding:0;}
ul,ol,li {list-style:none;}
a {outline:0; text-decoration:none;}

.btns {margin-top:20px;}
.btns li {font:30px/2 "arial"; color:#333; }





















