@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

/* reset */
* {margin:0; padding:0;}
ul,ol,li {list-style:none;}
a,img {outline:0; text-decoration:none; font-family:"poret one"; letter-spacing:1px;}
body {background:#efefef;}

.item {width:260px;background:#fff;padding:20px;box-sizing:border-box;margin:15px;float:left;border-radius:5px;box-shadow:5px 5px 5px #ddd 0.2;}
.item>a>img{width:100%;}

